.sidebar {
    width: 250px;
    height:90vh;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    overflow: hidden;
}

.logo {
    padding: 5px 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    position: fixed;
    margin-top: 50px;
}

.brand-name {
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
}

.brand-name h2 {
    color: #333;
    font-size: 20px;
    margin: 0;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.2s;

}

.menu-item:hover {
    background-color: #f5f5f5;
}

.menu-item.active {
    background-color: rgba(251, 146, 60, 0.2);
    color: #fb923c;
}

.emoji {
    font-size: 20px;
    margin-right: 12px;
}

.text {
    font-size: 17px;
    font-weight: 600;
    color:gray;
}